body {width: 800px;
    margin: auto;
    color: white;
    position:absolute;
    }
    
    header {background: blue;
    height: 50px;
    text-align: center;
    }
    
    nav {background: green;
    height: 25px;
    }
    
    
    li {display: inline;
    margin: 10px;
    }
    
    a {color: white}
    
    article {
    width: 533px;
    background: pink;
    text-align: center;
    padding-bottom: 20px;
    }
    
    section {
    background: red;
    height: 50px;
    max-width: 533px;
    margin-top: 10px;
    text-align: center
    }
    
    aside {
    width: 33.3%;
    background: cyan;
    height: 156px;
    text-align: center;
    position: absolute;
    left:66.7%;
    top: 29.3%;
    }
    
    footer {
    background-color: green;
    height: 25px;
    text-align: center;
    }
    